In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv("weather_dataset.csv")

In [3]:
data

          day  temperature  windspeed   event
0  01-01-2017         32.0        6.0    Rain
1  01-04-2017          NaN        9.0   Sunny
2  01-05-2017         28.0        NaN    Snow
3  01-06-2017          NaN        7.0     NaN
4  01-07-2017         32.0        NaN    Rain
5  01-08-2017          NaN        NaN   Sunny
6  01-09-2017          NaN        NaN     NaN
7  01-10-2017         34.0        8.0  Cloudy
8  01-11-2017         40.0       12.0   Sunny

In [4]:
data.shape

(9, 4)

In [5]:
data.columns

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [6]:
data.dtypes

day             object
temperature    float64
windspeed      float64
event           object
dtype: object

In [4]:
data['day']= pd.to_datetime(data['day'])

In [5]:
data.dtypes

day            datetime64[ns]
temperature           float64
windspeed             float64
event                  object
dtype: object

In [7]:
data.set_index('day', inplace = True)

In [8]:
data

            temperature  windspeed   event
day
2017-01-01         32.0        6.0    Rain
2017-01-04          NaN        9.0   Sunny
2017-01-05         28.0        NaN    Snow
2017-01-06          NaN        7.0     NaN
2017-01-07         32.0        NaN    Rain
2017-01-08          NaN        NaN   Sunny
2017-01-09          NaN        NaN     NaN
2017-01-10         34.0        8.0  Cloudy
2017-01-11         40.0       12.0   Sunny

In [9]:
# Removing rows having any null value

df1 = data.dropna(how='any')
df1

            temperature  windspeed   event
day
2017-01-01         32.0        6.0    Rain
2017-01-10         34.0        8.0  Cloudy
2017-01-11         40.0       12.0   Sunny

In [10]:
# Removing null rows

df2 = data.dropna(how='all')
df2

            temperature  windspeed   event
day
2017-01-01         32.0        6.0    Rain
2017-01-04          NaN        9.0   Sunny
2017-01-05         28.0        NaN    Snow
2017-01-06          NaN        7.0     NaN
2017-01-07         32.0        NaN    Rain
2017-01-08          NaN        NaN   Sunny
2017-01-10         34.0        8.0  Cloudy
2017-01-11         40.0       12.0   Sunny