# Dealing with rows/records

In [12]:
import pandas as pd
data = pd.read_excel("Indian_districts.xlsx")
data.head()

   For Update List Visit:             Unnamed: 1       Unnamed: 2
0  www.askbankifsccode.com                   NaN              NaN
1                    State              District       State Type
2          Andaman Nicobar               Nicobar  Union Territory
3          Andaman Nicobar  North Middle Andaman  Union Territory
4          Andaman Nicobar         South Andaman  Union Territory

### Removing unwanted rows from top

In [10]:
df=data
df.drop(df.index[0], inplace = True)
df.head()

  For Update List Visit:             Unnamed: 1       Unnamed: 2
1                   State              District       State Type
2         Andaman Nicobar               Nicobar  Union Territory
3         Andaman Nicobar  North Middle Andaman  Union Territory
4         Andaman Nicobar         South Andaman  Union Territory
5          Andhra Pradesh             Anantapur            State

In [ ]:
# To remove first 2 rows
# if you want to removefirst 5, then in place of 2 write 5

#df.drop(df.index[:2],inplace=True)
#df.head()

### Making first row as header

In [11]:
df  = pd.DataFrame(df.values[1:], columns=df.iloc[0])
df.head()

1            State              District       State Type
0  Andaman Nicobar               Nicobar  Union Territory
1  Andaman Nicobar  North Middle Andaman  Union Territory
2  Andaman Nicobar         South Andaman  Union Territory
3   Andhra Pradesh             Anantapur            State
4   Andhra Pradesh              Chittoor            State