# Data Ingestion

In [125]:
import pandas as pd
data = pd.read_csv("cars.csv")
data.head()

     brand  km_driven    fuel         owner  selling_price
0   Maruti     145500  Diesel   First Owner         450000
1    Skoda     120000  Diesel  Second Owner         370000
2    Honda     140000  Petrol   Third Owner         158000
3  Hyundai     127000  Diesel   First Owner         225000
4   Maruti     120000  Petrol   First Owner         130000

# Feature Engineering

In [126]:
data.shape

(8128, 5)

In [127]:
## check for duplicated records
data.duplicated().sum()

1678

In [128]:
data = data.drop_duplicates()
data.duplicated().sum()

0